@media (prefers-reduced-motion: no-preference) {
    * {
        scroll-behavior: smooth;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: lightblue;
}

a {
    text-decoration: none;
    color: inherit;
}

/* HEADER WITH NAVIGATION SECTION STYLE */

header {
    background-color: #f6f6f6;
    position: fixed;
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2.5rem;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 3rem;
    width: auto;
    margin-right: 0.5rem;
}

.logo h1 {
    font-family: 'Philosopher', sans-serif;
    font-size: 2.8rem;
    color: #403f3c;
    text-transform: uppercase;
    font-weight: normal;
    margin-top: 0.5rem;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin-left: 1.5rem;
    position: relative;
}

nav ul li a {
    color: #403f3c;
    text-transform: uppercase;
    padding: 0.2rem 0.4rem; 
    display: inline-block;
    transition: background-color 0.3s ease;
}

nav ul li a:hover, 
nav ul li a:active {
    background-color: #696762;
    color: #F6F6F6;
}

@media screen and (max-width: 992px) {
    header {
        flex-direction: column;
        padding: 0.5rem;
    }

    .logo img {
        height: 2rem;
    }

    .logo h1 {
        font-size: 1.9rem;
    }

    nav ul li {
        margin-left: 0;
        padding: 0 0.9rem;
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 650px) {
    header {
        flex-direction: row;
        height: auto;
        padding: 0.6rem 0.8rem;
        position: relative;
    }
    
    .logo {
        flex-direction: column;
        text-align: center;
    }
    
    nav ul {
        flex-direction: column;
        text-align: right;
    }

    nav ul li {
        font-size: 0.8rem;
        padding: 0.2rem 0;
    }
}

